@media (min-width: 768px) and (max-width: 991px) {
  /*team*/
  .partners {
    display: block;
    float: left;
  }
  .partners img {
    width: 120px;
  }
  #team {
    padding-left: 0;
    padding-right: 0;
  }
  #team .grid div {
    margin: 0;
    padding: 0;
  }
  #team .effect-chico figcaption {
    font-size: 14px;
  }
  #team .effect-chico figcaption p {
    margin-top: 9px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .navbar-brand img {
    height: 37px;
  }
  /*banner*/
  .banner .caption-info h1 {
    display: none;
  }
  .banner .caption-info p {
    display: none;
  }
  /*Gallery*/
  #gallery figcaption {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .navbar-brand img {
    height: 37px;
  }
  .navbar-inverse {
    padding: 0;
  }
  /*banner*/
  .banner .caption-info h1 {
    display: none;
  }
  .banner .caption-info p {
    display: none;
  }
  /*Menu*/
  #menu {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #menu h2 {
    font-size: 24px !important;
    text-align: left;
  }
  /*Gallery*/
  #gallery figcaption {
    font-size: 12px;
  }
  /*partners*/
  #partners {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #partners h2 {
    font-size: 24px !important;
    text-align: left;
  }
  /*team*/
  .partners {
    display: block;
    float: left;
  }
  .partners img {
    width: 120px;
  }
  #team {
    padding-left: 0;
    padding-right: 0;
  }
  #team .grid div {
    margin: 0;
    padding: 0;
  }
  #team .effect-chico figcaption {
    font-size: 12px;
  }
  #team .effect-chico figcaption p {
    margin-top: 9px;
  }
  /*About*/
  .about h4 {
    font-size: 14px !important;
  }
}
